<footer class="footer">
		<div class="footer-top">
				<a href="index.html" class="footer-logo"><img src="img/svg/logo-black.svg" alt=""></a>
				<div class="links">
						<a href="#">Vkontakte</a>
						<a href="mailto:info@bfg.su">info@bfg.su</a>
						<a href="tel:84951501720" class="no-decor">8 495 150-17-20</a>
				</div>
				<div class="button-hover black-bg-btn">
						<span class="button_circle">
						</span>
						<a href="#submit-application-popup" data-effect="mfp-zoom-in" class="button_su_inner popup">
							<span class="button_text_container">Заказать звонок</span>
						</a>
				</div>
		</div>
		<div class="footer-bottom">
				<p class="copyright">Copyright 2008 - 2022 BFG</p>
				<span class="address">ул. Земляной Вал, д. 9, БЦ <br>«Ситидел», Москва</span>
				<a href="#" class="private-policy">Политика конфиденциальности</a>
		</div>
</footer>